<IfModule mod_headers.c>
    Header always unset Access-Control-Allow-Origin
    Header always unset Access-Control-Allow-Headers
    Header always unset Access-Control-Allow-Methods
    Header always unset Vary
</IfModule>
